* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Adicione um efeito de onda laranja ao fundo */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00ff6e 0%, #ffffff 100%);
  z-index: -1;
  animation: waveAnimation 5s linear infinite alternate; /* Adicione esta linha para a animação */
}

@keyframes waveAnimation {
  0% {
    clip-path: polygon(0 30%, 100% 30%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
}

@keyframes waveAnimation {
  0% {
    clip-path: polygon(0 30%, 100% 30%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
}
